# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Tic-Tac-Toe with Python/*
!/Simple Tic-Tac-Toe with Python/task/
/Simple Tic-Tac-Toe with Python/task/*
!/Simple Tic-Tac-Toe with Python/task/tictactoe.py
